<div class="row-fluid">
	<div class="span12">				
	</div><!--span12-->
</div> <!--row-->


<div class="row-fluid">
	<div class="span4">
		<%= link_to image_tag("stat8gray.png", alt:"careerstats"), '#' %>
	</div><!--span4-->
	
	<div class="span4">
		<img class="rounded"src="/assets/purpleboxtextbfe.png" alt="building future engineers">
	</div><!--span4-->
	
	
    <div class="span4">
		<img class="rounded"src="/assets/girlonlaptop2.jpg" alt="girl on laptop">
	</div> <!--span4-->
</div>	<!--row-->
	
<div class="row-fluid">
	<div class="span12">				
	</div><!--span12-->
</div> <!--row-->
	
<div class="row-fluid">
	<div class="span4">
		<div class="homepagetxt">
			<span class="colortxt">We founded 2025 Labs to introduce more kids to Engineering and Computer Science.</span> Our mission is to build products that will give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators &#8212 not just consumers &#8212 of great technology. We are creating products for kids 7-12 to make engineering fun and approachable and expect to release our first product late 2013. <%= link_to "Read more...",    about_path %>
		</div>	
	</div> <!--span4-->	
			
	<div class="span4">
		<img class="rounded" src="/assets/kidsatplay.jpg" alt="kids playing with high tech gadgets">
	</div> <!--span4-->
	
	<div class="span4">
		<h4 class="blogtxt">2025 LABS Blog </h4>
		<h5>Thoughts on Title IX &#8212 July 17, 2013</h5>
		<div class="homepagetxt">
			The Society of Women Engineers (www.swe.org) recently conducted a Webinar on Title IX, the 1972 federal gender equity in education law. Did you know that Title IX applies to education generally, and not just athletics? It also includes recruiting, admission, education programs, and course offerings and more. <a href="http://2025labs.com/wordpress" target="_blank">Read more...</a>
		</div>
	</div> <!--span4-->
</div>	<!--row-->


	



