<div class="row-fluid">
	<div class="span12">
		<hr width="100%" style="border: 2px dotted #0099CC" color="#ffffff" size="4">
	</div><!--span12-->
</div><!--row-->

<div id="footer">
	<div class="container-fluid">
		<div class = "creditextra">
        <p class="muted credit">&copy 2013 - 2025 Labs LLC</p>
		</div>
	</div> <!--container-->
</div><!--footer-->